body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img_girl.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: AliceBlue; 
}

header {
    font-family: Algerian;
    background-color: DarkSlateGray; 
    color: LightGoldenRodYellow;
    padding: 10px 20px;
    text-align: center;
}
.about-img img {
    width: 10%;
    border-radius: 5px;     
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: LightGoldenRodYellow;
    text-decoration: none;
}

nav ul li a:hover {
    color: Gold; 
}

section {
    margin: 20px;
    padding: 20px;
    background-color: Pure white; 
}

.projects {

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project img {
    width: 100%;
    height: auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid DarkSlateGray;
}

button {
    background-color: SteelBlue; 
    color: White; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: RoyalBlue;
}


